<p id="notice"><%= notice %></p>

<h3>Listing Long Plays</h3>

<div id="long-plays-list">
  <%= render "list" %>
</div>

<br>

<%= link_to 'New Long play', new_long_play_path, class: "btn btn-link" %>
